<div class="container">
    <div class="box">
    <div class="card" style="width: 18rem;">
        <img src="assets\html1.png"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">HTML Quiz</h5>
          <p class="card-text">Test your knowledge in this quiz with several questions about HTML.</p>
          <a routerLink="/html" class="btn btn-primary">Let's go</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets\css1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CSS Quiz</h5>
          <p class="card-text">Test your knowledge in this quiz with several questions about CSS.</p>
          <a routerLink="/css"class="btn btn-primary">Let's go</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets\js1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">JavaScript Quiz</h5>
          <p class="card-text">Test your knowledge in this quiz with several JavaScript questions.</p>
          <a routerLink="/js" class="btn btn-primary">Let's go</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets\ts.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TypeScript Quiz</h5>
          <p class="card-text">Test your knowledge in this quiz with several TypeScript questions.</p>
          <a href="#" class="btn btn-primary">Let's go</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets\c-sharp.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">C# Quiz</h5>
          <p class="card-text">Test your knowledge in this quiz with several C# questions.</p>
          <a href="#" class="btn btn-primary">Let's go</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets\sql.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SQL Quiz</h5>
          <p class="card-text">Test your knowledge in this quiz with several SQL questions.</p>
          <a href="#" class="btn btn-primary">Let's go</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets\java.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">JAVA Quiz</h5>
          <p class="card-text">Test your knowledge in this quiz with several JAVA questions.</p>
          <a routerLink="/welcome" class="btn btn-primary">Let's go</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets\py.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PYTHON Quiz</h5>
          <p class="card-text">Test your knowledge in this quiz with several PYTHON questions.</p>
          <a href="#" class="btn btn-primary">Let's go</a>
        </div>
      </div>
    </div>
</div>